@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: #03103b;
}
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
button{
  border: none;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #8da5fc24;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
}

.link-btn-container{
  max-width: 1200px;
  margin: auto;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font1);
  color: white;
  text-decoration: none;
}

.logo-img{
  width: 100px;
}

.link-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  margin: 0px 50px;
}
.nav-links ul li {
  margin-right: 10px;
  font-family: var(--font1);
  padding: 6px 12px;
  border-radius: 10px;
}

.dropdown {
  font-family: var(--font1);
  color: #03103b;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
}

.dropdown:hover .dropdown-out {
  display: block;
}

.dropdown:hover i {
  transform: rotate(180deg);
}

.dropdown-out {
  position: absolute;
  left: -10px;
  top: 20px;
  padding-top: 30px;
  display: none;
}

.dropdown-con {
  width: 350px;
  border: 1px solid #8da5fc24;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #0009;
  border-radius: 10px;
  padding: 8px;
  background-color: black;
}

.dc-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-family: var(--font1);
  margin: 8px 0px;
  padding: 8px;
  border-radius: 15px;
}

.dc-item:hover {
  background-image: radial-gradient(
    circle farthest-corner at 50% 50%,
    #383e8000,
    #12598f7c
  );
}
.dc-item h2 {
  font-size: 1.1rem;
  margin-bottom: 3px;
  font-weight: 500;
}

.dc-item p {
  font-size: 0.8rem;
  color: #c0c0c0;
}

.dropdown i {
  margin-left: 5px;
  transition: 0.2s ease-in-out;
}

.nav-links ul li a {
  text-decoration: none;
  color: #03103b;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav-links ul li {
  transition: 0.5s;
}

.nav-links ul li:hover {
  background-image: radial-gradient(
    circle farthest-corner at 50% 50%,
    #383e8000,
    #12598f7c
  );
}
.nav-container .hero-btn {
  background-color: #03103b;
  margin-right: 10px;
  padding: 8px 20px;
  border-radius: 30px;
  color: white;
  border: 2px solid #03103b;
  font-weight: 500;
  transition: 0.4s;
  cursor: pointer;
  font-family: var(--font1);
  text-align: center;
  text-decoration: none;
}

.nav-container .hero-btn.hollow {
  background-color: transparent;
  color: #03103b;
  border: 2px solid #03103b;
}

.nav-container .hero-btn:hover {
  background-color: #03103b;
  color: white;
}

.nav-container .hero-btn.hollow:hover {
  background-color: #03103b;
  color: white;
  border: 2px solid #03103b;
}


.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px); */
}

.home {
  color: wheat;
}

.toggle {
  display: none;
  color: #03103b;
  font-size: 1.5rem;
  padding: 5px;
}

.tl {
  width: 25px;
  height: 2px;
  background-color: #03103b;
  margin: 5px;
  transition: 0.3s ease-in-out;
}

.toggle.active .toggle-1 {
  transform: rotate(45deg) translateX(5px);
}

.toggle.active .toggle-2 {
  display: none;
}

.toggle.active .toggle-3 {
  transform: rotate(-45deg) translateX(5px);
}

@media (max-width: 950px) {
  .nav-container {
    padding: 12px 20px;
    z-index: 9999;
  }

  .nav-right.active {
    position: absolute;
    top: 72px;
    transition: 0.3s ease-in-out;
    background-color: #f5f5f5;
    left: 0;
  }

  .nav-right {
    position: absolute;
    top: -1000px;
    left: 0;
    padding: 20px;
    flex-direction: column;
    /* height: calc(100vh - 72px); */
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    background-color: black;
  }

  .nav-btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .hero-btn{
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
  }

  .toggle {
    display: block;
    cursor: pointer;
  }

  .nav-links ul {
    flex-direction: column;
    margin: 20px 0px;
    z-index: 9997;
    padding-left: 0;
  }

  .nav-links ul li {
    margin: 10px 0px;
  }

  .nav-container .hero-btn {
    width: 100%;
  }

  .dropdown-out {
    position: relative;
    left: -10px;
    top: 0px;
    padding-top: 30px;
    display: none;
  }

  .nav-links ul li:nth-child(2):hover {
    background: transparent;
  }
  .nav-links ul li:nth-child(3):hover {
    background: transparent;
  }
}

/********************** MAIN CONTENT SECTION *******************/
.main-section{
    color: white;
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 250px;
}
.main-image img{
    width: 90%;
}
.discount{
    background-color: #1a1d5f;
    padding: 15px 20px; 
    border-radius: 40px;
    display: flex;
    width: fit-content;
}
.discount h4{
  font-size: 20px;
  margin-bottom: 0;
}
.heading{
  width: 65%;
  margin: 20px 0;
}
.discount span{
    color: #3fdbd8;
    margin-right: 10px;
}
.main-text{
  height: 440px;
}
.heading h1{
  font-weight: 500;
  font-size: 40px;
}
.heading p{
  font-size: 18px;
  margin: 30px 0 40px 0;
  color: #496b96;
}
.white-paper{
  background-color: white;
  margin-right: 10px;
  padding: 8px 20px;
  border-radius: 30px;
  color: #03103b;
  border: 2px solid #03103b;
  font-weight: 500;
  transition: 0.4s;
  cursor: pointer;
  font-family: var(--font1);
  text-align: center;
  text-decoration: none;
}
.white-paper:hover{
  background-color: white;
  color: #03103b;
  border: 2px solid #03103b;
}

/************************* Our Team **********************************/


* {
  font-family: Nunito, sans-serif;
}

.responsive-cell-block {
  min-height: 75px;
  
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 60px;

  
}

.team-head-text {
  color: white;
  font-weight: 300;
  font-size: 48px;
  margin:0 30px 20px 0;
  text-align: center;
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.container {
  max-width: 1380px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.card-t {
  width: 250px;
  background-color: #1a237e; /* Complementary dark blue */
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(3, 16, 59, 0.3), 
              0 6px 6px rgba(3, 16, 59, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
}

.card-t:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(3, 16, 59, 0.4), 
              0 10px 10px rgba(3, 16, 59, 0.3);
  background-color: #283593; /* Slightly lighter on hover */
}

.card-container {
  width: 280px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
  
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}




/************************* THE COIN SECTION **********************************/
.the-coin-section{
  text-align: center;
  margin-top: 70px;
  color: white;
  margin-bottom: 100px;
}
.features{
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin-heading h1{
  font-size: 40px;
  font-weight: 300;
}
.coin-heading p{
  max-width: 420px;
  color: rgb(72, 107, 150);
  margin: 30px auto 60px auto;
}
.single-feature{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 30px;
  padding: 30px 0;
}
.single-feature img{
  width: 80px;
  margin-bottom: 20px;
}
.single-feature p{
  font-size: 15px;
  color: rgba(142, 199, 255, 0.5);
  line-height: 1.6;
  width: 90%;
}
.single-feature h3{
  margin: 20px 0;
  font-weight: 300;
}
.single-feature:hover{
  background-color: rgba(0,0,0,0.1);
}
/************************** ACHIEVEMENTS SECTION **********************************/
.achievement{
  margin: 100px 0;
}
.achievement-content{
  display: flex;
  justify-content: space-between;
}
.all-cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-section-1{
  margin: 0 30px;
}
.card-section-2{
  margin: -100px 0 0 0;
}
.card{
  background-color: rgb(21, 33, 73);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px;
  min-width: 200px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out 0s;
}
.card img{
  opacity: 0.2;
  margin-bottom: 30px;
}
.card h1{
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
}
.card h3{
    color: rgba(142, 199, 255, 0.5);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}
.card:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.achivement-text-section{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-content{
  width: 60%;
}
.text-content h1{
  color: white;
  font-weight: 300;
  font-size: 48px;
  margin:0 30px 20px 0;
}
.text-content p{
  color: rgb(73, 107, 150);
    font-size: 16px;
    line-height: 33px;
    font-weight: 400;
    margin: 20px 0;
}
.text-content a{
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.text-content i{
  font-size: 15px;
  margin-left: 10px;
}
  /********************** LAST YEAR SALE SECTION **********/
  .last-year-sale{
    margin: 100px 0;
  }
  .last-year-content{
    display: flex;
    justify-content: space-around;
  }
  .sale-text{
    padding-top: 40px;
  }
  .sale-text h1{
    font-size: 38px;
    color: white;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin: 0 auto 27px auto;
    max-width: 370px;
  }
  .sale-text p{
    font-size: 16px;
    line-height: 28px;
    color: rgb(73, 107, 150);
    max-width: 400px;
  }
  .sale-graph img{
    padding-top: 45px;
    width: 100%;
    object-fit: cover;
  }

/************************ PRIVACY FUND *************************************/
.privacy-fund{
  margin: 100px 0;
}
.privacy-fund-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.privacy-fund-text h1{
    color: white;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 27px;
    max-width: 385px;
}
.privacy-fund-text p{
    font-size: 16px;
    line-height: 28px;
    color: rgb(73, 107, 150);
    max-width: 400px;
    margin: 20px 0;
}
.privacy-fund-image img{
  width: 100%;
  object-fit: cover;
}
/*********************** WALLET SECTION **********************************/
.wallet-section{
  margin: 100px 0;
}
.wallet-content{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wallet-text-content{
  padding: 20px 30px;
  width: 50%;
}
.wallet-img img{
    width: 100%;
    height: 900px;
    object-fit: contain;
}
.wallet-text h1{
    color: rgb(255, 255, 255);
    font-size: 38px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.025em;
    margin-bottom: 15px;
}
.wallet-text p{
  font-size: 16px;
    line-height: 28px;
    color: rgb(73, 107, 150);
    max-width: 400px;
}
.wallet-features{
  margin: 30px 0px;
}
.w-feature{
  display: flex;
}
.w-feature img{
  height: 24px;
}
.w-feature h4{    
  font-size: 16px;
  line-height: 28px;
  color: rgb(255, 255, 255);
  padding-left: 24px;
  max-width: 100%;
  margin-bottom: 30px;
  margin-top: -1px;
  
}
.wallet-btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.w-btn{
    display: flex;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 17px;
    padding: 20px 35px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.w-btn img{
  width: 18px;
}
.w-btn a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

/***************************NEWS LETTER ********************************/
.newsLetter{
  margin: 100px 0;
}
.bg-blue{
  border-radius: 8px;
  padding: 50px 60px;
  background-color: #0c2973;
}
.newsletter-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.newsletter-text{
  width: 35%;
}
.newsletter-text h3,p{
  color: white;
}
.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to left, white,black);
  border-image-slice: 1;
}
.get-access a{
  background-color: rgb(255, 255, 255);
    color: rgb(3, 16, 59);
    font-size: 14px;
    letter-spacing: -0.1px;
    border-radius: 5px;
    padding: 18px 23px;
    font-weight: 500;
    text-decoration: none;
}
.get-access a:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: white;
}
/***************************** FOOTER ***************************/
.footer{
  margin: 100px 0 0 0;
}
.footer h4{
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 0px;
  font-weight: 700;
}
.footer a{
    color: rgb(142, 199, 255);
    font-size: 14px;
    line-height: 36px;
    transition: all 0.2s ease 0s;
    font-weight: 300;
}
.company-info{
  margin-right: 40px;
}
.company-info img{
  width: 150px;
  margin: 10px;
}
.company-info p{
  color: rgb(142, 199, 255);
  font-size: 14px;
  font-weight: 300;
}
.company-info span{
  color: white;
}
.footer-content{
  display: flex;
}
.footer-section{
  width: 230px;
  padding: 0 20px;
}
.sub-section p a{
  text-decoration: none;
}
.sub-section p a:hover{
  color: white;
}
.sub-section p{
  margin: 0;
}
/*************************** CREDITS ***************************/
.credits{
  margin: 20px 0;
  color: white;
  text-align: center;
  padding: 10px;
}
.credits h5{
  font-size: 15px;
  font-weight: 300;
}
.credits h5 a{
  color: #3cb0fd;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 20px;
}
.credits h5 a:hover{
  cursor: pointer;
  border: 1px solid #3cb0fd;
  text-decoration: none;
  padding: 15px 18px;
  transition: all 0.3s;
}
  /*********************** MEDIA  QUERIES *******************************************/
  
  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
    .newsletter-content{
      padding: 30px 0;
    }
  }
  @media (max-width: 868px) {

    /******************** NAVIGATION BAR ******************/
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .Navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      /* max-width: 400px; */
      left: -100%;
      top: 0;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: url('./Images/pattern.png');
      background-color: #03103b;
      transition: all 0.3s ease;
    }
    .Navbar.show .menu-list{
      left: 0%;
    }
    .Navbar .menu-list li{
      margin-top: 45px;
    }
    .Navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .Navbar.show .menu-list li a{
      margin-left: 0px;
    }
    /************************* MAIN SECTION *******************/
    .main-section{
      flex-direction: column;
    }
    .main-image{
      display: none;
    }
    .heading h1{
      font-size: 25px;
    }
    .heading,.discount{
      width: fit-content;
    }
    .buttons{
      display: flex;
      flex-direction: column;
    }
    .white-paper{
      margin: 10px 0;
    }

    /***************** COUNTDOWN SECTION *************************/
    .countdown-section h1{
      font-size: 26px;
    }
    .countdown h4{
      font-size: 25px;
    }
    .countdown-format{
      margin: 0 10px;
      padding: 10px;
    }

    /************************* THE COIN SECTION **********************************/
    .features{
      flex-direction: column;
    }
    /************************** ACHIEVEMENTS SECTION **********************************/
    .achievement-content{
      flex-direction: column;
    }
    .achivement-text-section{
      padding: 0;
    }
    .text-content{
      margin: 10px 0 0 0;
      width: 100%;
    }
    .card{
      min-width: 145px;
      padding: 40px 0;
    }
    .card-section-1{
      margin-left: 10px;
    }
    /********************** LAST YEAR SALE SECTION **********/
    .last-year-sale{
      margin: -45px 0 50px 0;
      text-align: center;
    }
    .last-year-content{
      flex-direction: column;
    }
    .sale-text h1{
      font-size: 24px;
    }
    .sale-text p{
      font-size: 13px;
    }
    /*************************** FUND RAISING *************************************/
    .fund-content{
      flex-direction: column;
    }
    .fund-text h1{
      font-size: 30px;
    }
    /************************ PRIVACY FUND *************************************/
    .privacy-fund-content{
      flex-direction: column;
      text-align: center;
    }
    .privacy-fund-text h1{
      font-size: 30px;
    }
    /*********************** WALLET SECTION **********************************/
    .wallet-content, .wallet-btn{
      flex-direction: column;
    }
    .wallet-img{
      display: none;
    }
    .wallet-text-content{
      width: 100%;
      padding: 0;
    }
    .w-btn{
      width: 100%;
      margin: 0 0 20px 0;
    }
    /************************ FAQ SECTION ********************************/
    .faq-heading h1{
      font-size: 35px;
    }
    .accordian{
      width: 100%;
    }
    /***************************NEWS LETTER ********************************/
    .newsletter-content{
      flex-direction: column;
      text-align: center;
      height: 350px;
    }
    .newsletter-text{
      width: 100%;
    }
    .bg-blue{
      margin: auto 15px;
    }
    .input-area, .get-access a{
      width: 100%;
    }
    /***************************** FOOTER ***************************/
    .footer-content{
      flex-direction: column;
    }
    .footer-section{
      width: 100%;
      margin: 20px 0 5px 0;
    }
    .footer h4{
      margin-bottom: 20px;
    }
    .company-info{
      padding: 0 20px;
    }
    /********************* CREDITS ***************************/
    .credits h5 a{
      display: block;
      margin: 10px;
    }
    .credits h5 a:hover{
      padding: 5px 8px;
      transition: all 0.3s;
    }
  }
 
@media (max-width: 380px) {
    
    /******************** NAVIGATION BAR ******************/
    .Navbar .logo a{
      font-size: 27px;
    }
    /************************** ACHIEVEMENTS SECTION **********************************/
    .card-section-1{
      margin: 10px 10px 10px 0;
    }
    .text-content h1{
      font-size: 40px;
      margin: 0px 0px 20px 0;
    }
}


.accordion{
    width: 60%;
    margin: auto;
   
    
}

